<!DOCTYPE html>
<html lang="ja"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイルストーン作成 | マイルストーンアプリケーション</title>
</head>
<body>
<h1>マイルストーンアプリケーション</h1>
<a href="./milestones/list.html" th:href="@{/milestones}">マイルストーンページ</a>
<form>
    <div>
        <label for="milestoneInput">概要</label>
        <input type="text" id="milestoneInput">
    </div>
    <div>
        <label for="descriptionInput">説明</label>
        <textarea id="descriptionInput" row="10"></textarea>
    </div>
    <div>
        <button type="submit">作成</button>
    </div>
</form>
</body>
</html>