<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>マイルストーン | マイルストーンアプリケーション</title>
</head>
<body>
<h1>マイルストーン</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<a href="./milestones/creationForm.html" th:href="@{/milestones/creationForm}">作成</a>

<table class="table table-hover ">
    <thead>
    <tr>
        <th>#</th>
        <th>マイルストーン</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="milestone: ${milestoneList}">
            <th th:text="${milestone.id}">(id)</th>
            <td>
                <a href="./detail.html" th:href="@{/milestones/{milestoneId}(milestoneId=${milestone.id})}" th:text="${milestone.milestone}">
                    (milestone)
                </a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>