<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイルストーン | マイルストーンアプリケーション</title>
</head>
<body>
<h1>マイルストーン</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>マイルストーン</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="milestone: ${milestoneList}">
            <th th:text="${milestone.id}">(id)</th>
            <td th:text="${milestone.milestone}">
                (milestone)
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>